.nasdaq100-wrapper {
  background-color: rgb(240, 240, 247);
  width: 90vw;
  margin: 2rem auto;
}

.stocks-list {
  padding: 25px 0;
  color: #2b2b2b;
  background-color: rgb(240, 240, 247);
}

.nasdaq100-headline1 {
  font-weight: 800;
  margin: 3rem 0;
}

.nasdaq100-stocks-list {
  width: 100%;
  padding: 1.5rem 0;
}

.Nasdaq100-stock-info-head {
  font-weight: 500;
  font-size: 1.2rem;
  padding: 10px;
}

.Nasdaq100-stock-info {
  padding: 10px;
}
