* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.login-wrapper {
  font-family: "Source Sans Pro", sans-serif;
  color: #43425d;
  font-weight: 300;
  width: 100%;
  height: 100%;

  background-image: url("../../Images/signIn-Image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: -30vw center;

  height: 100vh;

  text-align: center;
}

.login-text-box h1 {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.5rem;
}

.login-text-box p {
  color: #4d4f5c;
  font-size: 1.1rem;
}

.login-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 0 100px;
  width: 50vw;
  position: relative;
  height: 100vh;
  left: 50vw;
}

.login-form {
  position: relative;
  bottom: 3rem;
}

.login-form-control {
  margin-bottom: 1.5rem;
}

.login-text-box {
  margin-bottom: 5em;
}

.login-text-box h1,
.login-text-box p {
  margin-bottom: 1rem;
}

.login-wrapper form Input {
  width: 20rem;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: left;
}

.login-wrapper span.MuiButton-label {
  font-size: 1rem;
  /* color: white; */
  font-weight: 400;
}

.login-wrapper form Input::placeholder {
  text-align: left;
}

.login-wrapper form .MuiInput-underline::before {
  border-bottom: 2px solid #e9e9f0;
}

.login-wrapper form .MuiInput-underline::after {
  border-bottom: 2px solid #43425d;
}

.login-button-login-page {
  background-color: #43425d !important;
}

.signup-button-login-page {
  background-color: #fff !important;
  color: #43425d !important;
  border: 1px solid #43425d !important;
}

.login-wrapper .btn-primary {
  appearance: none;
  outline: 0;
  border: 0;
  padding: 10px 15px;
  width: 20rem;
  margin-bottom: 1rem;
}

.kep-login-facebook {
  border-radius: 4px !important;
  font-weight: 400 !important;
  width: 20rem;
  font-size: 1rem !important;
}

.login-button-box {
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}

.login-button-box .fa {
  padding-right: 0.5rem;
}

.kep-login-facebook {
  display: none !important;
  /* Further research for the facebook login code and deployment on AWS and Heroku */
}
