body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Source Sans Pro", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: "Helvetica", sans-serif !important;
  background-color: rgb(240, 240, 247) !important;
  font-weight: 300;
  background: rgb(240, 240, 247);
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* stock charts */
.stock-table {
  width: 100%;
}

.stock-table > thead {
  text-align: left;
}

.stock-info-head {
  font-weight: 800;
  padding: 5px 10px;
  text-align: left;
}

.stock-info {
  padding: 5px 10px;
}

.head1 {
  padding: 5px 10px;
  text-align: left;
}

.head2 {
  width: 110px;
}

.head {
  width: 110px;
}

/* Fave button */
.stock-table Button {
  width: 5.25rem;
  text-align: center;
}

td,
th {
  vertical-align: middle !important;
}
