.navbar {
  background-color: #36364b;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.25s;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.menu-bars > svg {
  vertical-align: middle;
  transform: translateY(-0.1rem);
}

.logoutbutton {
  margin-right: 2rem !important;
  margin-bottom: 0.1rem !important;
  padding: 0 auto !important;
}

.nav-menu {
  background-color: #43425d;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 10;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 4.5rem;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #36364b;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #36364b;
  width: 100%;
  padding: 0 24px;
  height: 80px;
  letter-spacing: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-toggle h1 {
  font-size: 1.5rem;
  font-weight: 800;
  color: #f5f5f5;
  margin-left: 0.2rem;
  margin-bottom: 0 !important;
}

.nav-menu span {
  margin-left: 16px;
}

.nav-menu span.MuiButton-label {
  font-weight: 600;
}

.right-elements > p {
  color: #f5f5f5;
  font-size: 1rem;
  letter-spacing: 0.02rem;
  font-weight: 500;
  margin-right: 3rem;
  margin-bottom: 0 !important;
}

.right-elements > p > span {
  font-weight: 800;
}

.right-elements {
  display: flex;
  align-items: center;
}

.footer {
  color: #f5f5f5;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
}

.footer p {
  font-size: 10px;
  transform: translateX(-0.5rem);
}
